.kpi--tables {
  display: flex;
  flex-direction: column;
}

.flagImg {
  height: 40px;
}

.kpi--tables table tr td:first-child {
  width: 170px;
}

.kpi--tables table tr td {
  padding-bottom: 15px;
}

.kpi--tables table tr td:last-child {
  text-align: center;
}
.CircularProgressbar {
  width: 60px;
}

.CircularProgressbar-path {
  stroke: #0067bb;
}

.CircularProgressbar-text {
  fill: #0067bb;
}

.kpi--item .progressBar {
  max-width: 80px;
  min-width: 80px;
  display: inline-block;
  margin: 0 auto;
}

.kpi--item {
  border: 1px solid rgb(173, 173, 173);
  height: 180px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.descrip-def {
  font-size: 13px;
  color: #ffffff;
}
.overlayInner{
  position: absolute;
  text-align: center;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0,0,0,.7);
  transition: all .5s;
}
.lastItem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.kpi--item:hover .overlayInner{
  opacity: 1;
}
.minMax{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.innerDef{
  font-size: 15px;
  letter-spacing: 1px;
  font-family: "Alegreya";
  font-weight: 700;
  padding: 10px;
}