.count-charity {
    position: fixed;
    right: 10%;
    bottom: 20%;
    cursor: pointer;
    display: flex;
    z-index: 99;
}

.count {
    background-color: #222;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: 45px;
}

.img-charity {
    height: 75px;
    width: 75px;
    position: absolute;
    color: #0067dd;
}

.place {
    bottom: -25px;
    right: -50px;
	padding: 5px !important;
	background: #fff !important;
	color: #000 !important;
	font-size: 12px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 250px !important;
}

.charity--row {
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

.charity--name {
	color: #0067dd;
	text-align: left;
}

.charity--remove {
	color: red;
	margin-left: 3px;
}

.fade {
    animation-name: fade-in-keyframes;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    margin: 0 auto;
  }
  @keyframes fade-in-keyframes {
    0% {transform: scale(1,1);}
    50% {transform: scale(1.2)}
    100% {transform: scale(1,1);}
  } 