@import url('https://fonts.googleapis.com/css?family=Spectral');
@import url('https://fonts.googleapis.com/css?family=Alegreya');
* {
  margin:0;
  padding: 0;
  font-family: 'Spectral',sans-serif;
}

